---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>About the one stop shop for technical merchandise.</h2>
        <p>If you have to ask, you'll never know! Funky mother fucka! Ooh wow wow wow wah!</p>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
	</body>
</html>
